html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  background-color: #2B7A78;
}


/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}
a:hover {
  text-decoration: underline;
}
p {
  line-height: 1.6rem;
}
.line {
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}
h2 {
  color: white;
}